
div {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    /*background-color: #434343;*/
}
.footer {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: #04087d;
    padding: 20px;
    position: fixed;
    margin-top: auto;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 99%;
    font-size: 19px;
    color: #fafaff;
}
